@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    background: linear-gradient(
        92.23deg,
        #0a313b 21.43%,
        #24ada2 50.63%,
        #3bace2 100%,
        #091c5f 117.04%
    );
    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover{
    background: linear-gradient(
        92.23deg,
        #091c5f 21.43%,
        #3bace2 50.63%,
        #24ada2 100%,
        #0a313b 117.04%
    );
}
